bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.SWQ-Project/.idea/.gitignore
/.idea/.idea.SWQ-Project/.idea/encodings.xml
/.idea/.idea.SWQ-Project/.idea/indexLayout.xml
/.idea/.idea.SWQ-Project/.idea/vcs.xml
